.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}
.profile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 300px;
}
.profile-logo {
  height: 100px;
  width: 100px;
}
.profile-name {
  font-size: larger;
  font-family: 'Roboto';
}
.para-profile {
  font-size: medium;
  font-family: 'Roboto';
  color: #616e7c;
}
